@model ProductListModel<Medication>
@{
    ViewData["Title"] = "Лекарства";
    var request = ViewContext.HttpContext.Request;
    var returnUrl = request.Path + request.QueryString.ToUriComponent();
    var categories = ViewData["categories"] as IEnumerable<Category>;
    string? category = request.RouteValues["category"]?.ToString();
    int prev = Model.CurrentPage == 1 ? 1 : Model.CurrentPage - 1;
    int next = Model.CurrentPage == Model.TotalPages ? Model.TotalPages : Model.CurrentPage + 1;
}

<h2 class="m-3">Лекарства</h2>
<div class="row">
    <div class="row border-2">
        <ul class="nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                    @ViewData["currentCategory"]
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" asp-controller="Product" asp-action="Index" asp-route-category="@null" asp-route-pageno="1">Все</a>
                    </li>
                    @foreach (var item in categories)
                    {
                        <li>
                            <a class="dropdown-item" asp-controller="Product" asp-action="Index" asp-route-category="@item.NormalizedName" asp-route-pageno="1">
                                @item.Name
                            </a>
                        </li>
                    }
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-10">
        @if (Model != null && Model.Items.Any())
        {
            <div class="row row-cols-1 row-cols-md-3 g-4">
                @foreach (var item in Model.Items)
                {
                    <partial name="_ProductItemPartial" model="@item" />
                }
            </div>
            <!-- Pager -->
            <div class="row mt-3">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item @(prev == Model.CurrentPage ? "disabled" : "")">
                            <a class="page-link" asp-controller="Product" asp-action="Index" asp-route-pageno="@prev" asp-route-category="@category" aria-label="Previous">
                                <span aria-hidden="true">«</span>
                            </a>
                        </li>
                        @for (int i = 1; i <= Model.TotalPages; i++)
                        {
                            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                                <a class="page-link" asp-controller="Product" asp-action="Index" asp-route-pageno="@i" asp-route-category="@category">@i</a>
                            </li>
                        }
                        <li class="page-item @(next == Model.CurrentPage ? "disabled" : "")">
                            <a class="page-link" asp-controller="Product" asp-action="Index" asp-route-pageno="@next" asp-route-category="@category" aria-label="Next">
                                <span aria-hidden="true">»</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            @* <pager current-page="@Model.CurrentPage" total-pages="@Model.TotalPages" category="@category"></pager> *@
            <!-- Pager -->
        }
    </div>
</div>
<h2 class="text-warning">@ViewData["Error"]</h2>